{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'about.css' %}" type="text/css"> 

    <title>ISL Converter</title>
</head>
<body>
    <div class="main">
        <video autoplay muted loop id="myVideo">
            <source src="{% static 'Video/bgvideo.mp4' %}" type="video/mp4">
        </video>
        <div class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'text_to_video' %}">Text To Video</a></li>
                <li><a href="{% url 'video_to_text' %}">Video To Text</a></li>
                <li><a href="#Working">Working</a></li>
                <li><a class="active" href="{% url 'about' %}">About</a></li>
            </ul>
        </div>  
        <div class="welcome2">
            <div class="info">
                <h1 class="welcome">MOTIVE OF THE PROJECT</h1>
                <br>
                <h1 class="welcome" style="font-size: 20px; margin-top: 0px; margin-bottom: 0px;">GROUP NO: 5</h1><br>
                <div style="text-align: center; font-weight:bold;">
                    Presented By:<br>
                    MENTOR: Dr. Abhay Kshirsagar<br>
                    GROUP MEMBERS:<br>
                    Raj Talashilkar&emsp;Grusha Shetty &emsp;Harshal Jouras &emsp;Aditya Rode 
                    <br><br>
                </div>
                One of society's fundamental flaws is the social divide that exists between people who are disabled or 
                handicapped and people who have all of their human faculties in working conditions. Communication, which is 
                the foundation of human progress, is frequently an impediment for those who are unable to communicate their 
                thoughts. According to a World Health Organization report, 63 million individuals in India suffer from complete or 
                partial deafness, with at least 50 lakhs of them being children. While applications catering to American Sign 
                language detection and conversion are readily available, people using Indian Sign Language are still in need 
                of a mode of easy communication. This WebApp was hence developed with the goal of bridging the communication 
                gap between the disabled and the rest of the population. With the help of this webapp deaf and mute people can 
                communicate easily as it efficiently converts sign language into corresponding text and vice versa.   
        </div> 
        
        <div class="footer">
            <p>
                Mentor: Dr. Abhay Kshirsagar<br>
                <a href="https://www.linkedin.com/in/raj-talashilkar/" style="color: aliceblue;  text-decoration: none;">Raj Talashilkar</a> &emsp; 
                <a href="https://www.linkedin.com/in/grusha-shetty-58346b229" style="color: aliceblue;  text-decoration: none;">Grusha Shetty</a> &emsp; 
                <a href="https://www.linkedin.com/in/harshal-jouras-3b06431b2" style="color: aliceblue;  text-decoration: none;">Harshal Jouras</a> &emsp;
                <a href="https://in.linkedin.com/in/aditya-rode-12ba15194" style="color: aliceblue;  text-decoration: none;">Aditya Rode</a><br>
            </p>
          </div>
    </div>
    
</body>
</html>
