{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'about.css' %}" type="text/css"> 

    <title>ISL Converter</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'text_to_video' %}">Text To Video</a></li>
                <li><a href="{% url 'video_to_text' %}">Video To Text</a></li>
                <li><a class="active" href="{% url 'about' %}">About</a></li>
            </ul>
        </div>  
        <div class="welcome2">
            <div class="info">
                <h1 class="welcome">Motive of the Project</h1>
                <br>
                <h1 class="welcome" style="font-size: 20px; margin-top: 0px; margin-bottom: 0px;">GROUP NO: 5</h1><br>
                <div style="text-align: center; font-weight:300; margin-bottom: 0;">
                    Presented By:<br>
                    <a style="font-weight:bold;">Mentor: Dr. Abhay Kshirsagar</a> <br>
                    Group Members:<br>
                    <!-- Raj Talashilkar&emsp;Grusha Shetty &emsp;Harshal Jouras &emsp;Aditya Rode  -->
                    <div class="scroller">
                        <span>
                            Grusha Shetty<br/>
                            Harshal Jouras<br/>
                            Raj Talashilkar<br/>
                            Aditya Rode

                        </span>
                    </div>
                    <br>
                </div>
                <div class="text2">
                    A sign is a form of nonverbal communication that uses body parts, hand shapes, hand positions and movements, arms, facial expressions, 
                    or lip movements instead of oral communication.
                    Dynamic gestures include strokes, prestrokes, postures, and phases, whereas configurations are static gestures. 
                    The most important aspect of Indian Sign Language (ISL) is that it does not include grammar. 
                    Sign language, like spoken languages and dialects, has been designed differently depending on region and culture.<br> 
                    This system will undoubtedly benefit society by assisting physically disabled Indians. 
                    The majority of people struggle to understand ISL gestures. 
                    This has resulted in a communication schism between those who understand ISL and those who do not. 
                    It is not always possible to find an interpreter to translate these gestures when they are required.<br> 
                    A potential solution was implemented to facilitate this communication, which would translate hand poses and gestures from ISL in real-time. 
                    This system will serve as an aid for a deaf-mute to communicate with ordinary people via computer. 
                </div>  
        </div> 
        
        <div class="footer">
            <p>
                Mentor: <a class="footertext" href="https://www.linkedin.com/in/abhay-kshirsagar-46285534/">Dr. Abhay Kshirsagar</a><br>
                <a class="footertext" href="https://www.linkedin.com/in/raj-talashilkar/">Raj Talashilkar</a> &emsp; 
                <a class="footertext" href="https://www.linkedin.com/in/grusha-shetty-58346b229">Grusha Shetty</a> &emsp; 
                <a class="footertext" href="https://www.linkedin.com/in/harshal-jouras-3b06431b2">Harshal Jouras</a> &emsp;
                <a class="footertext" href="https://in.linkedin.com/in/aditya-rode-12ba15194">Aditya Rode</a><br>
            </p>
          </div>
    </div>
    
</body>
</html>
