{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css"> 

    <title>ISL Converter</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'text_to_video' %}">Text To Video</a></li>
            <li><a href="{% url 'video_to_text' %}">Video To Text</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>  
    <div class="welcome2">
        <div class="info">
            <h1 class="welcome">Welcome</h1>
            <h3 class="title" style="font-size: 40px; text-align: center;margin-bottom:0px; padding-bottom: 0px;">Indian Sign Language</h3>
            <h3 class="subtitle" style="font-size: 30px; text-align: center; margin-bottom:30px; margin-top:5px;">Bridging the Gap</h3>
            <div class="text2" style="font-size: 20px;">
                One of the society's fundamental flaws is the social divide that exists between people who are disabled
                or handicapped and people who have all of their human faculties in working conditions.
                Communication, which is the foundation of human progress, is frequently an impediment for those
                who are unable to communicate their thoughts. According to a World Health Organization report,
                63 million individuals in India suffer from complete or partial deafness, with at least 50 lakhs of
                them being children. Hearing disorders account for 8.36 percent of all disabilities in India,
                according to the JICA statistical profile on disability in India. Speech disorders account for 5.06
                percent. The lack of appropriate tools to overcome this communication barrier has resulted in
                societal inequity.<br>
                <div style="justify-content: center; justify-items: center;">
                    <br> &emsp;&emsp;&emsp;&emsp;This website is our attempt to tackle the problem, and create a feasible and easy-to-use solution.
                </div>
                
            </div>
    </div> 
    
    <div class="footer">
        <p>
            Mentor: <a class="footertext" href="https://www.linkedin.com/in/abhay-kshirsagar-46285534/">Dr. Abhay Kshirsagar</a><br>
            <a class="footertext" href="https://www.linkedin.com/in/raj-talashilkar/">Raj Talashilkar</a> &emsp; 
            <a class="footertext" href="https://www.linkedin.com/in/grusha-shetty-58346b229">Grusha Shetty</a> &emsp; 
            <a class="footertext" href="https://www.linkedin.com/in/harshal-jouras-3b06431b2">Harshal Jouras</a> &emsp;
            <a class="footertext" href="https://in.linkedin.com/in/aditya-rode-12ba15194">Aditya Rode</a><br>
        </p>
      </div>
</body>
</html>
