{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"> 

    <title>Project</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#Description">Description</a></li>
            <li><a href="#Working">Working</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>  

    <div class="row">
        <div class="column" style="background-color:rgb(255, 241, 215);">
            <h2>Gesture Recognition</h2>
                <img src="{% url 'video_feed' %}">
            <p>Camera View</p>
        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>Text Converted</h2>
            <!-- <video id="webcam" autoplay ></video> -->
            <p>Gesture converted into text</p>
        </div>
      </div>
      
      <!-- <script text="type/javascript" src="https://unpkg.com/webcam-easy@1.0.5/dist/webcam-easy.min.js"></script>
      <script src="{% static 'js/script.js' %}"></script> -->
    
</body>
</html>