{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"> 

    <title>ISL Converter</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'text_to_video' %}">Text To Video</a></li>
            <li><a class="active" href="{% url 'video_to_text' %}">Video To Text</a></li>
            <li><a href="#Working">Working</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>  

    <div class="row">
        <div class="column">
            <h2>Gesture Recognition</h2>
                <img id="webcam" src="{% url 'video_feed' %}">
            <p>Camera View</p>
        </div>
        <div class="column">
            <h2>Text Converted</h2>
                <h2 name="text" src="{% url 'text_pred' %}"> {{text}}</h2>
                <!-- <h2 name="text" src="{% url 'text_pred' %}"> {{text}}</h2> -->
                <!-- <video id="webcam" autoplay ></video> -->
            <p si>Gesture converted into text</p>
        </div>
    </div>
      
      <!-- <script text="type/javascript" src="https://unpkg.com/webcam-easy@1.0.5/dist/webcam-easy.min.js"></script>
      <script src="{% static 'js/script.js' %}"></script> -->
    
</body>
</html>